# Ignore Flutter/Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Ignore Android build files
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/build/
/android/app/build/
/android/build/app/outputs/apk/
/android/build/app/outputs/flutter-apk/

# Ignore APK and AAB files
*.apk
*.aab
